<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.fotolockr.cakewallet.monero_sync_task</string>
        <string>com.fotolockr.cakewallet.mweb_sync_task</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Cake Wallet</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>cake_wallet</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>y.at</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>cakewallet</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>bitcoin</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>bitcoin</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>bitcoin-wallet</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>bitcoin-wallet</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>monero</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>monero</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>monero-wallet</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>monero-wallet</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>litecoin</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>litecoin</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>CFBundleURLName</key>
            <string>litecoin-wallet</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>litecoin-wallet</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>ethereum</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>ethereum</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>CFBundleURLName</key>
            <string>ethereum-wallet</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>ethereum-wallet</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>nano</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>nano</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>CFBundleURLName</key>
            <string>nano-wallet</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>nano-wallet</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>CFBundleURLName</key>
            <string>nano-gpt</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>nano-gpt</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>bitcoincash</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>bitcoincash</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>CFBundleURLName</key>
            <string>bitcoincash-wallet</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>bitcoincash-wallet</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>polygon</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>polygon</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>CFBundleURLName</key>
            <string>polygon-wallet</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>polygon-wallet</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>CFBundleURLName</key>
            <string>solana-wallet</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>solana-wallet</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>CFBundleURLName</key>
            <string>tron</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>tron</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>CFBundleURLName</key>
            <string>tron-wallet</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>tron-wallet</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>CFBundleURLName</key>
            <string>wownero</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>wownero</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>CFBundleURLName</key>
            <string>wownero-wallet</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>wownero-wallet</string>
            </array>
        </dict>
    </array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Used for scanning QR code and can be used to capture images for identification purposes by third-party providers.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>We need access to documents folder for getting access to open/save backup file</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Enable Face ID for fast and secure access to wallets and private keys</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to documents folder for getting access to open/save backup file</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>We need access to Bluetooth in order to connect to your hardware wallet when needed</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>We need access to Bluetooth in order to connect to your hardware wallet when needed</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
