name: Cake Wallet Android

on:
  pull_request:

jobs:

  # -----------------------------------------
  # PATH A: Internal PRs
  internal-build:
    if: >
      github.event_name == 'pull_request' &&
      github.event.pull_request.head.repo.fork == false
    uses: ./.github/workflows/reusable-build.yml
    with:
      ref: ${{ github.event.pull_request.head.sha }}
      pr_number: ${{ github.head_ref || github.ref_name }}
    secrets: inherit

#  # -----------------------------------------
#  # PATH B: External Fork PRs
#  external-build:
#    if: >
#      github.event_name == 'pull_request_target' &&
#      github.event.pull_request.head.repo.fork == true
#    environment: external_contributors
#    uses: ./.github/workflows/reusable-build.yml
#    with:
#      ref: ${{ github.event.pull_request.head.sha }}
#      pr_number: ${{ github.head_ref || github.ref_name }}
#    secrets: inherit
