name: Cake Wallet Android

on: [pull_request, pull_request_target]

defaults:
  run:
    shell: bash

jobs:
  # PATH A: Internal PRs (Runs immediately)
  internal-build:
    if: |
      github.event_name == 'pull_request' && 
      github.event.pull_request.head.repo.full_name == github.repository
    uses: ./.github/workflows/reusable-build.yml
    with:
      ref: ${{ github.event.pull_request.head.sha }}
      pr_number: ${{ github.head_ref || github.ref_name }}
    secrets: inherit # Passes all secrets automatically

  # PATH B: External Forks (Waits for Approval)
  external-build:
    if: |
      github.event_name == 'pull_request_target' && 
      github.event.pull_request.head.repo.full_name != github.repository

    # This applies the specific environment rule ONLY to forks
    environment: external_contributors

    uses: ./.github/workflows/reusable-build.yml
    with:
      ref: ${{ github.event.pull_request.head.sha }}
      pr_number: ${{ github.head_ref || github.ref_name }}
    secrets: inherit